# Import

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

# Import the Dataset

In [2]:
df = pd.read_csv('Example01_Naive_Bayes.csv')
df

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   NO
1      sunny         hot     high   True   NO
2   overcast         hot     high  False  YES
3      rainy        mild     high  False  YES
4      rainy        cool   normal  False  YES
5      rainy        cool   normal   True   NO
6   overcast        cool   normal   True  YES
7      sunny        mild     high  False   NO
8      sunny        cool   normal  False  YES
9      rainy        mild   normal  False  YES
10     sunny        mild   normal   True  YES
11  overcast        mild     high   True  YES
12  overcast         hot   normal  False  YES
13     rainy        mild     high   True   NO

# Convert dataset object to numerik

In [3]:
df_c= df.astype('category')

df_c["Outlook"]= df_c["Outlook"].cat.codes
df_c["Temperature"]= df_c["Temperature"].cat.codes
df_c["Humidity"]= df_c["Humidity"].cat.codes
df_c["Windy"]= df_c["Windy"].cat.codes
df_c["Play"]= df_c["Play"].cat.codes
df_c.head(14)

    Outlook  Temperature  Humidity  Windy  Play
0         2            1         0      0     0
1         2            1         0      1     0
2         0            1         0      0     1
3         1            2         0      0     1
4         1            0         1      0     1
5         1            0         1      1     0
6         0            0         1      1     1
7         2            2         0      0     0
8         2            0         1      0     1
9         1            2         1      0     1
10        2            2         1      1     1
11        0            2         0      1     1
12        0            1         1      0     1
13        1            2         0      1     0

# splitting the label and feature data

In [4]:
X=df_c.iloc[:,:4].values
Y=df_c.iloc[:,4].values

# splitting the dataset into training set and test set

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=45)
print(X_train.shape, y_train.shape)

(11, 4) (11,)

# model

In [6]:
model=GaussianNB()

model.fit(X_train,y_train)
y_pred=model.predict(X_test)

# prediction results

In [7]:
predicted= model.predict([[0,2,1,1]])
print("Predicted values :",predicted)

Predicted values : [1]

# Accuracy Model

In [8]:
print("Accuracy :", metrics.accuracy_score(y_test,y_pred))

Accuracy : 1.0