# Import

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

# Import the Dataset

In [2]:
df = pd.read_csv('Example02_Naive_Bayes.csv')
df

   Height  Weight  Foot Size  Person
0    6.00     180         12    Male
1    5.92     190         11    Male
2    5.58     170         12    Male
3    5.92     165         10    Male
4    5.00     100          6  Female
5    5.50     150          8  Female
6    5.42     130          7  Female
7    5.75     150          9  Female

# Convert dataset object to numeric

In [3]:
df_c= df.astype('category')

df_c["Person"]= df_c["Person"].cat.codes
df_c.head(8)

  Height Weight Foot Size  Person
0   6.00    180        12       1
1   5.92    190        11       1
2   5.58    170        12       1
3   5.92    165        10       1
4   5.00    100         6       0
5   5.50    150         8       0
6   5.42    130         7       0
7   5.75    150         9       0

# splitting the label and feature data

In [9]:
X=df_c.iloc[:,:3].values
Y=df_c.iloc[:,3].values

# splitting the dataset into training set and test set

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5, random_state=12)

In [70]:
X_test

array([[  5.  , 100.  ,   6.  ],
       [  5.42, 130.  ,   7.  ],
       [  6.  , 180.  ,  12.  ],
       [  5.58, 170.  ,  12.  ]])

In [71]:
X_train

array([[  5.92, 190.  ,  11.  ],
       [  5.5 , 150.  ,   8.  ],
       [  5.75, 150.  ,   9.  ],
       [  5.92, 165.  ,  10.  ]])

# model

In [72]:
model=GaussianNB()

model.fit(X_train,y_train)
y_pred=model.predict(X_test)

# prediction results

In [73]:
predicted= model.predict([[6,180,12]])
print("Predicted values :",predicted)

Predicted values : [1]

# Accuracy Model

In [74]:
print("Accuracy :", metrics.accuracy_score(y_test,y_pred))

Accuracy : 0.5